:root{
    background-image: url("/src/assets/bg_login2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8); 
    background-blend-mode: overlay; 
}